<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to YourMeters
  </h1>
</div>
<hr>
<p>
  Sekcja dostępna po zalogowaniu do aplikacji
  Lista dostępnych liczników po kliknięciu przechodzi do widoku wybranego licznika
</p>
<div>
  <h2>
    Your meters
  </h2>
  <ul>
    <li>Add new +</li>
    <li>Gaz</li>
    <li>Woda</li>
    <li>Prąd</li>
    <li>Woda, ogród</li>
  </ul>
</div>
<hr>
<p>
  Sekcja ze szczegółami licznika
</p>
<hr>
<div>
  <router-outlet></router-outlet>
</div>